extends layout
block content
  .row
    .col-xs-12
      br
      #calander

  // Modal Code from the creating tasks
  #fullCalModal.modal.fade
    .modal-dialog
      .modal-content
        .modal-header Task
          button.close(type='button', data-dismiss='modal')
            span(aria-hidden='true') ×
            span.sr-only close
          h4#modalTitle.modal-title
        #modalBody.modal-body
          .row
            .col-md-9.col-md-offset-1
              form(method='POST' action='/createtask')
                div.form-group
                  label(for='pid') Project:
                  select#pid.form-control(name='pid')
                    option(value="") Select Project
                    for project in projects
                      option(value=project.id) #{project.name}
                div.form-group
                  label(for='description') Task Description:
                  textarea#desc.form-control(type='text', placeholder='Task Description' name='description')
                div.form-group
                  label(for='sdate') Start Date:
                  input#sdate.form-control(type='text', placeholder='Start Date' name='sdate')
                div.form-group
                  label(for='edate') End Date:
                  input#edate.form-control(type='text', placeholder='End Date' name='edate')
                div.form-group
                  label(for='user') Assign User:
                  input#user.form-control(type='text' disabled)
                div.form-group
                  input#uid.form-control(type='hidden' name='uid')
                  br
                  br
                  button.btn.btn-primary(type='submit') Save
                  button.btn.btn-default(type='button', data-dismiss='modal') Close
