script(src='/javascripts/moment.min.js')
script(src='/javascripts/jquery.min.js')
script(src='/javascripts/jquery-ui.min.js')
script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
script(src='/javascripts/fullcalendar.min.js')
script(src='/javascripts/scheduler.js')
script(src='/javascripts/palette-color-picker.min.js')
script(src='/javascripts/material.min.js')
script(src='/javascripts/calendar.js')