//script(src='http://code.jquery.com/jquery-3.1.1.min.js')
//
//script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
//
//script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js')
//
//script(src='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.0.1/fullcalendar.min.js')
//script(src='/javascripts/scheduler.js')


//script(src='./bower_components/jquery/dist/jquery.min.js')
//script(src='./bower_components/bootstrap/dist/js/bootstrap.min.js')
//script(src='./bower_components/moment/src/moment.js')
//script(src='./bower_components/fullcalendar/dist/fullcalendar.min.js')

script(src='/javascripts/moment.min.js')
script(src='/javascripts/jquery.min.js')
script(src='/javascripts/jquery-ui.min.js')
script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
script(src='/javascripts/fullcalendar.min.js')
script(src='/javascripts/scheduler.js')